* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#game {
  margin-top: 100px;
  padding-left: 150px;
  height: 200px;
  border-bottom: 2px solid black;
}

#character {
  background-color: #0da192;
  height: 50px;
  width: 20px;
  position: relative;
  top: 150px;
}

.animate {
  animation: jump 600ms;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#block {
  background-color: #000;
  height: 20px;
  width: 20px;
  position: relative;
  top: 130px;
  left: 500px;
  animation: block 1.5s infinite linear;
}

@keyframes block {
  0% {
    left: 500px;
  }
  100% {
    left: -40px;
  }
}

#play {
  color: #000;
  position: relative;
  left: 70%;
  margin-top: 100px;
  cursor: pointer;
}

#play:hover {
  color: #0da192;
}
